# [作業目標]

1. [簡答題] 請問下列四種不同的 DataFrame 選取結果有什麼差異？

```
df.loc[ '2013-01-01', 'A'] 
df.loc[ '2013-01-01', ['A', 'B'] ] 
df.loc[ '2013-01-01':'2013-01-02', 'A' ] 
df.loc[ '2013-01-01':'2013-01-05', 'A':'C'] 
```


2. 請根據提供的資料，選擇出下列的要求：

```
# - select the first 3 rows.
# - select the odd rows. (index = 1, 3, 5)
# - select the last 2 columns.
# - select the even columns. (index = 0, 2, 4)
```

3. 請根據提供的資料，選擇出下列的要求：

```
# - 1. filtered by first column > 20?
# - 2. filtered by first column + second column > 50
# - 3. filtered by first column < 30 or second column > 30
# - 4. filtered by total sum of row > 100
```

# 作業

### 1. [簡答題] 請問下列四種不同的 DataFrame 選取結果有什麼差異？

```
df.loc[ '2013-01-01', 'A'] 
df.loc[ '2013-01-01', ['A', 'B'] ] 
df.loc[ '2013-01-01':'2013-01-02', 'A' ] 
df.loc[ '2013-01-01':'2013-01-05', 'A':'C'] 
```

In [23]:
print("第一個：依照一般數字、字母順序，是印出第一列第一行\n第二個：第一列、一二行\n第三個：第一二列、第一行\n第四個：第一到五列、一到三行")

第一個：依照一般數字、字母順序，是印出第一列第一行
第二個：第一列、一二行
第三個：第一二列、第一行
第四個：第一到五列、一到三行

### 2. 請根據提供的資料，選擇出下列的要求：

```
# - select the first 3 rows.
# - select the odd rows. (index = 1, 3, 5)
# - select the last 2 columns.
# - select the even columns. (index = 0, 2, 4)
```

In [2]:
# 記得先 Import 正確的套件
import numpy as np
import pandas as pd

In [3]:
df = pd.DataFrame(np.random.randn(6,3),columns=['col1','col2','col3'])
df

       col1      col2      col3
0  0.254102 -2.031907  0.216153
1  0.174472  0.630432  0.564706
2  0.830046 -0.217612 -1.232931
3  0.535103 -0.950317  0.205125
4 -0.117309  0.793994 -0.878770
5 -1.014858  0.180295 -0.318099

In [7]:
print("select the first 3 rows",df.iloc[:3],sep="\n")

select the first 3 rows
       col1      col2      col3
0  0.254102 -2.031907  0.216153
1  0.174472  0.630432  0.564706
2  0.830046 -0.217612 -1.232931

In [17]:
print("select the odd rows. (index = 1, 3, 5)",df.iloc[[1,3,5], :3],sep="\n")

select the odd rows. (index = 1, 3, 5)
       col1      col2      col3
1  0.174472  0.630432  0.564706
3  0.535103 -0.950317  0.205125
5 -1.014858  0.180295 -0.318099

In [12]:
print("select the last 2 columns.",df[["col2","col3"]],sep="\n")

select the last 2 columns.
       col2      col3
0 -2.031907  0.216153
1  0.630432  0.564706
2 -0.217612 -1.232931
3 -0.950317  0.205125
4  0.793994 -0.878770
5  0.180295 -0.318099

In [19]:
print("select the even columns. (index = 0, 2, 4)",df.iloc[[0,2,4], 1],sep="\n")

select the even columns. (index = 0, 2, 4)
0   -2.031907
2   -0.217612
4    0.793994
Name: col2, dtype: float64

### 3. 請根據提供的資料，選擇出下列的要求：

```
# - 1. filtered by first column > 20?
# - 2. filtered by first column + second column > 50
# - 3. filtered by first column < 30 or second column > 30
# - 4. filtered by total sum of row > 100
```

In [29]:
df2 = pd.DataFrame(np.random.randint(10, 40, 60).reshape(-1, 4))
df2

     0   1   2   3
0   32  23  22  17
1   19  20  30  14
2   29  38  29  39
3   39  24  26  12
4   19  24  21  13
5   19  22  39  16
6   20  29  19  16
7   29  30  38  14
8   24  27  31  29
9   14  29  27  23
10  28  12  25  19
11  36  39  17  13
12  35  14  12  27
13  13  10  23  22
14  22  39  15  37

In [53]:
print("filtered by first column > 20?",df2.loc[df2[0]>20],sep="\n")

filtered by first column > 20?
     0   1   2   3
0   32  23  22  17
2   29  38  29  39
3   39  24  26  12
7   29  30  38  14
8   24  27  31  29
10  28  12  25  19
11  36  39  17  13
12  35  14  12  27
14  22  39  15  37

In [47]:
print("filtered by first column + second column > 50",df2.loc[df2[0]+df2[1]>50],sep="\n")

filtered by first column + second column > 50
     0   1   2   3
0   32  23  22  17
2   29  38  29  39
3   39  24  26  12
7   29  30  38  14
8   24  27  31  29
11  36  39  17  13
14  22  39  15  37

In [49]:
print("filtered by first column < 30 or second column > 30",df2.loc[(df2[0]<30)|(df2[1]>30)],sep="\n")

filtered by first column < 30 or second column > 30
     0   1   2   3
1   19  20  30  14
2   29  38  29  39
4   19  24  21  13
5   19  22  39  16
6   20  29  19  16
7   29  30  38  14
8   24  27  31  29
9   14  29  27  23
10  28  12  25  19
11  36  39  17  13
13  13  10  23  22
14  22  39  15  37

In [54]:
print("filtered by total sum of row > 100",df2.loc[df2.sum(axis=1)>100],sep="\n")

filtered by total sum of row > 100
     0   1   2   3
2   29  38  29  39
3   39  24  26  12
7   29  30  38  14
8   24  27  31  29
11  36  39  17  13
14  22  39  15  37